.footer {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .footer__visit {
    margin: 0;
    padding: 0;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin-top: 41px;
  }
}

@media (min-width: @tablet-width) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 35px 60px;

    .footer__visit {
      margin-top: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .footer {
    padding: 35px 120px;
  }
}
