img.picture__img {
  display: block;
  margin: 0 auto;
  margin-top: 23px;
}

.picture {
  p {
    margin: 0;
    padding: 0;
  }
  .picture__img-title {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
  }
}
