img.picture__img {
  display: block;
  margin: 0 auto;
  margin-top: 23px;
}

.picture {
  p {
    margin: 0;
    padding: 0;
  }
  .picture__img-title {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    margin-left: 14px;
    margin-top: 21px;
  }
  .picture__img-autor {
    text-transform: none;
    font-size: 14px;
    line-height: 24px;
    margin-left: 14px;
    margin-top: 16px;
  }

}

.picture__like {
  margin-top: 15px;
  margin-left: 14px;
  .picture__number {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    margin-left: 35px;
  }
}
