
.promo {
  margin: 0;
  display: flex;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  height: 390px;
  position: top;
  align-items: center;
  justify-content: center;

}

