
.reasons {
  text-align: center;
  background-color: #ffffff;
}

.reasons__header {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 45px;
  padding-bottom: 32px;

  .reasons__description {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
  }

  .reasons__intro {
    margin-top: 38px;
  }
}
  .reasons__inner {
    padding: 42px 25px;
  }

  .reasons__title,
  .reasons__slogan {
    margin: 0;
    padding: 0;
  }

  .reasons__title {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  .reasons__number {
    display: block;
    margin-bottom: 23px;
  }


.reasons__block {

  background-color: #81b3d2;
  color: @white;

}
.reasons__block--second {
    display: flex;
    flex-direction: column-reverse;
  }


  .reasons__img {
  vertical-align: middle;
}

.reasons__list {
  background-color: #eeeeee;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

@media (min-width: 320px) {

}

@media (min-width: @tablet-width) {
  .reasons {
    .reasons__header {
      padding-top: 55px;
      padding-bottom: 55px;
      .reasons__description {
        font-size: 21px;
        margin-bottom: 40px;
      }
      .reasons__intro {
        line-height: 26px;

      }
    }

    .reasons__title {
      font-size: 21px;
      margin: 0;
      margin-bottom: 15px;
    }

    .reasons__number {
      margin: 0;
      margin-bottom: 30px;
    }

    .reasons__slogan {
      margin: 0;
    }

    .reasons__block {
      display: flex;
      justify-content: space-between;
      height: 257px;
      padding: 0;
    }
    .reasons__block--second {
        flex-direction: row;
      }


    .reasons__picture {
      width: 510px;
      .reasons__img {
        width: 100%;
        height: 100%;
      }
    }

    .reasons__inner {
      flex-grow: 1;
      width: 255px;
      padding: 50px 38px;
    }

    .reasons__list {
      display: flex;
      justify-content: space-between;

      .reasons__inner--other {
        width: 33%;
        padding-left: 55px;
        padding-right: 55px;
      }
    }
  }
}
@media (min-width: @desktop-width) {
 .reasons {

  .reasons__picture {
    width: 795px;

  }

  .reasons__inner {
    width: 400px;
    padding: 0 67px;
    padding-top: 55px;
    padding-bottom: 62px;

 }
}
}
