
.reasons {
  text-align: center;
  background-color: #ffffff;
}

.reasons__header {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 45px;
  padding-bottom: 32px;

  .reasons__description {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
  }

  .reasons__intro {
    margin-top: 38px;
  }
}

.reasons__block {
  padding-top: 42px;
  background-color: #81b3d2;
  color: #ffffff;

  .reasons__title,
  .reasons__slogan {
    margin: 0;
    padding: 0;
  }

  .reasons__title {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
  }

  .reasons__number {
    display: block;
    margin-top: 15px;
  }

  .reasons__slogan {
    margin-top: 23px;
    margin-bottom: 45px;
  }
}

.reasons__list {
  background-color: #eeeeee;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;

  .reasons__block {
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    color: #000000;

    .reasons__title {
      margin-top: 32px;
    }

    .reasons__slogan {
      margin: 0;
      margin-top: 25px;
      margin-bottom: 32px;
      padding: 0;
    }
  }

  .reasons__block--small {
    padding: 25px;
  }
}

.reasons__img {
  vertical-align: middle;
}
